
/* Site-wide styles: */
* {
  box-sizing: border-box;
}

:root {
  --primary-color: rgba(21, 101, 192, 0.9);
  --inCart-color: rgba(46, 125, 50, 0.9);
  --disabled-color: rgba(55, 71, 79, 1);
}

body {
  font-size: 16px;
  margin: 0;
}

/* Blue page header area: */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background:
    linear-gradient(
      var(--primary-color), 
      var(--primary-color)
    ), 
    center 30% / cover no-repeat url(images/cover-image.jpg);
  padding: calc(5rem + 5vw) 2rem calc(3rem + 5vw);
}

.largeLogo {
  height: auto;
  width: 9rem;
  max-width: 40%;
}

.banner h1 {
  font-family: Comfortaa;
  font-weight: 400;
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.banner .tagline {
  font-family: Lato;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
}

/* Sticky navigation bar: */
.banner nav {
  position: fixed;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: var(--primary-color);
  box-shadow: 0 -0.1rem 0.5rem 0.2rem rgba(0,0,0, 0.5);
  padding: 0.5em calc((100vw - 70rem)/2);
  align-items: center;
}

/* Site logo and "AVC": */
.siteName {
  font-family: Comfortaa;
  text-decoration: none;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: flex-end;
  flex: 1;
}

.smallLogo {
  height: 1.5rem;
  width: auto;
  margin: 0 1rem;
}

/* Navigation menu: */
.shortcuts {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.shortcuts li {
  padding: 0 0.75rem;
}

.shortcuts a {
  color: white;
  text-decoration: none;
  font-family: lato;
  font-weight: bold;
}

.shortcuts a:hover {
  text-decoration: underline;
}

/* Cart button: */
.cartButtonContainer {
  flex: 1;
  text-align: right;
}

.toolBarTextButton {
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-family: Lato;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0.5rem;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 3em;
  transition: 0.2s ease border, 0.1s ease background;
}

.openCartButton {
  color: white;
  margin-right: 1rem;
}

.toolBarTextButton:hover, .toolBarTextButton:focus {
  border-color: black;
}

.openCartButton:hover, .openCartButton:focus {
  border-color: white;
}

.toolBarTextButton:active {
  background-color: rgba(0,0,0,0.2)
}

.openCartButton:active {
  background-color: rgba(255,255,255,0.2)
}

/* Main content area: */
main {
  padding: 0 2rem 2rem;
  max-width: 74rem;
  margin: auto;
}

.category {
  position: relative;
  overflow: hidden;
  transition: 0.5s ease height;
}

.category.collapsed {
  /* !important allows the height style to override the per-element style that
      was set with JavaScript. */
  height: 8rem !important;
}

.iconButton {
  background: left center / contain no-repeat url(images/icons/chevron-right.svg);
  border: none;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  /* Hide the text in the button: */
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
}

.collapseCategoryButton {
  transform: rotate(-90deg);
  transition: 0.5s 0.5s ease transform;
  position: absolute;
  top: 4.5rem;
  left: 1rem;
}

.collapsed .collapseCategoryButton {
  transform: rotate(90deg);
}

.category h2 {
  font-family: Comfortaa;
  font-weight: 700;
  width: 100%;
  border-bottom: 2px solid var(--primary-color);
  letter-spacing: 2px;
  padding-bottom: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 4.5rem;
  margin-top: 0;
  transition: 0.5s 0.5s ease border-color;
}

.category.collapsed h2 {
  border-bottom-color: gray;
}

.category:target h2 {
  border-bottom-width: 3px;
}

/* Shop items: */
.itemGrid {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: calc(100% / 4 - 2rem);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin: 0.5rem 1rem;
  font-family: Lato;
}

.item.outOfStock {
  opacity: 0.6;
}

.itemName {
  font-family: Comfortaa;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0;
  text-align: center;
}

.itemInStock {
  margin-top: 0;
  padding-top: 0;
  font-size: 0.8rem;
  text-align: center;
}

.itemImage {
  width: 80%;
  max-width: 9rem;
  height: auto;
  align-self: center;
  padding: 1rem;
}

.itemDescription {
  flex-grow: 1;
  margin-top: 0;
}

.itemPrice {
  text-align: center;
  font-weight: 700;
  margin-bottom: 1rem;
}

.primaryButton {
  background-color: white;
  border-color: var(--primary-color);
  border-style: solid;
  border-width: 2px;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  align-self: center;
  text-transform: uppercase;
  color: var(--primary-color);
  font-weight: bold;
  transition: 0.3s ease color, 0.3s ease background-color, 0.5s ease box-shadow;
  letter-spacing: 0.5px;
}

.inCart .addToCartButton:disabled {
  animation: inCartButtonFade 1s ease 1;
  background: white;
  border-color: transparent;
  color: var(--inCart-color);
  opacity: 0.8;
}

@keyframes inCartButtonFade {
  0% {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: white;
    opacity: 1;
  }
  60% {
    background-color: white;
    color: var(--primary-color);
    border-color: var(--primary-color);
    opacity: 1;
  }
  100% {
    background-color: white;
    border-color: transparent;
    color: var(--inCart-color);
    opacity: 0.8;
  }
}

.primaryButton:disabled {
  border-color: transparent;
  color: var(--disabled-color);
}

.primaryButton:not(:disabled):hover,
.primaryButton:not(:disabled):focus {
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 2px 0.5rem rgba(0,0,0,0.4);
  cursor: pointer;
}

.primaryButton:active {
  box-shadow: none;
}

/* Cart: */
.cartContainer.hidden {
  display: none;
}

.cartContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 19;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  height: 80vh;
  width: 80vw;
  max-width: 50rem;
  background-color: white;
  box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,0.4);
  z-index: 20;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
}

.cartHeader {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart h2 {
  margin: 0;
  font-family: Comfortaa;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.cartItems {
  flex: 1;
  padding: 0 2rem;
  position: relative;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.cartItems .item {
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
}

.cartItems .itemImage {
  height: 8rem;
  width: 8rem;
}

.cartItems .itemDetails {
  flex: 1;
  padding: 0 1rem;
  height: 100%;
}

.cartItems .itemName, .cartItems .itemPrice {
  text-align: left;
}

.cartItems .amountInCart {
  width: 6ch;
  text-align: center;
  font-size: 1rem;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  font-weight: 700;
  font-family: Lato;
  margin-bottom: 1px;
}

.cartItems .amountInCart:hover, .cartItems .amountInCart:focus {
  border-bottom-width: 2px;
}

.cartItems .itemTotalPrice {
  text-align: center;
  font-size: 1.2rem;
  margin: 0 1.2rem;
}

.cartItems .removeFromCartButton {
  align-self: center;
  background-image: url(images/icons/x.svg);
  margin: 0 1.2rem;
}

.cart .noItems {
  font-style: italic;
  justify-content: center;
  flex-grow: 1;
}

.cartFooter {
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cart .totalCost {
  text-transform: uppercase;
  font-size: 1rem;
  font-family: lato;
  padding: 1rem;
  align-self: flex-end;
}

.cart .totalCost span {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 2rem 0 1rem;
}

/* Footer: */
.siteFooter {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 2rem;
  font-family: lato;
}

.siteFooter a {
  color: white;
  text-decoration: underline;
}

/* Switch to 3-column grid: */
@media only screen and (max-width: 60rem) {
  .item {
    width: calc(100% / 3 - 2rem);
  }
}

/* Switch to two-column grid and more room in header;
also, move navigation links to bottom of the screen: */
@media only screen and (max-width: 45rem) {
  .banner {
    padding: calc(7rem + 5vw) 2rem calc(5rem + 5vw);
  }

  .item {
    width: calc(100% / 2 - 2rem);
  }

  .shortcuts {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 0.1rem 0.5rem 0.2rem rgba(0,0,0, 0.5);
    padding: 1rem;
    justify-content: space-evenly;
    text-align: center;
    overflow-x: scroll;
  }

  .shortcuts a {
    color: var(--primary-color);
  }

  .cartItems .itemImage {
    display: none;
  }

  .cartItems {
    padding: 0 .5rem;
  }

  .cartItems .itemPrice {
    margin: 0 0.2rem;
  }

  footer {
    padding-bottom: 7rem;
  }
}

/* Switch to single-column grid and make buttons touch-friendly: */
@media only screen and (max-width: 30rem) {
  .item {
    width: calc(100% - 2rem);
  }

  .itemDescription {
    text-align: center;
  }

  .addToCartButton {
    padding: 0.75rem 1.25rem;
  }
}
